.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: darken($colour-grey, 70%);
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 5%;
    line-height: 2%;

    @include desktop {
        padding-top: 1%;
        padding-left: 2%;
        padding-bottom: 2%;
    }

    &__titre {
        font-family: 'Shrikhand';
        color: $colour-white;
        width: 100%;
        line-height: 20px;

        @include desktop {
            padding-bottom: 1%;
        }
    }

    &__icon {
        color: $colour-white;
        padding-right: 2%;
        padding-top: 2%;

        @include desktop {
            padding-right: 1%;
            padding-top: 0.5%;
            padding-left: 1%;
        }
    }

    &__text {
        color: $colour-white;
        text-decoration: none;
        width: 90%;

        @include desktop {
            padding-right: 0%;
            padding-left: 0%;
            width: 22%;
        }
    }

    a {
        line-height: 20px;

        @include desktop {
            line-height: 30px;
        }
    }
}