.bouton {
    @include btn;
}

.bouton-etape {
    @include btn-etape;
    &:hover {
        .icon-etape{
        color: $colour-primary;
    }
}
}

.bouton-repas {
    @include btn-repas;

    &:hover {
        .prix {
            transform: translatex(-45px);
            transition: transform 150ms ;
            transition-timing-function: ease;

            @include desktop {
                transform: translateX(20px);
            }
        }
        .sous-titre {
            width: 70%;
            padding-right: 10%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .repas--icon {
            opacity: 1;
            transition-duration: 1.5s ;
            transition-timing-function: ease;
            
        }

        .fa-circle-check {
            animation: rotation 1s;

            @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }

    }
}