.loader-contain {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: $colour-white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: disappear 250ms forwards;
  animation-delay: 3s;
  transform-origin: bottom;
  &::after{
    position: absolute;
   }
}

@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.loader {
  color: $colour-secondary;
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent:-2.5em ;
  animation: load 1.3s 150ms ;
  animation-iteration-count:3;
  animation-fill-mode: backwards;

}
@keyframes load {
0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.menu-anim{
  animation: affichage 2.3s ;
  $num-repas: 4;
  $anim-dur: 800ms;
  $anim-delay: $anim-dur / $num-repas;

          @for $i from 1 through $num-repas{
              &--#{$i} {
                  animation-delay: $anim-delay * $i;
               }
          }
}

@keyframes affichage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

  0% { transform:translateY(100%); }
}
.coeur{
  padding-top:15px;
  @include desktop{
    padding-top: 20px;
  }
}
.coeur input[type="checkbox"] {
  opacity: 1;
  position: fixed;
  width: 0;
}
.coeur label {
  .heart-color{
    padding-top:10px;
    font-size: 25px;
    visibility: hidden;
    position: absolute;

    @include desktop{
      padding-left: 5%;
      padding-top:10px;
    }
    
}
  .heart-empty {
   padding-top:10px;
    font-size: 25px;
    color: $colour-dark;
    position: absolute;
    @include desktop{
        padding-left: 5%;
        padding-top:10px;
      }
      
}
}
.coeur input[type="checkbox"]:checked + label {
  .heart-empty {
    visibility: hidden;
 }
 .heart-color {
     visibility: visible;
     background: $colour-gradient-heart; 
     background-clip:text;
     -webkit-background-clip: text;
     color: transparent;
     animation: heart 3s;
  
 }
}
@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.check input[type="radio"]:checked + label{
  .prix {
      transform: translatex(-45px);
      transition: transform 150ms ;
      transition-timing-function: ease;

      @include desktop {
          transform: translateX(20px);
      }
  }
  .sous-titre {
      width: 70%;
      padding-right: 10%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @include desktop{
          padding-right: 7%;
      }    
  }

  .repas-icon {
      opacity: 1;
      transition-duration: 1.5s ;
      transition-timing-function: ease;   
  }

  .fa-circle-check {
      animation: rotation 1s;

      @keyframes rotation {
          0% {
              transform: rotate(0deg);
          }
          100% {
              transform: rotate(360deg);
          }
      }
  }

}

