$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-green: #99E2D0;
$colour-white: #fff;
$colour-grey: #eaeaea;
$colour-gradient: linear-gradient($colour-secondary , $colour-primary );
$colour-dark: #000000;
$breakpoints: ( desktop: 768px );