$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #fff;
$colour-grey: #eaeaea;
$colour-dark: #000000;
$colour-gradient: linear-gradient($colour-secondary , $colour-primary );
$colour-gradient-heart: linear-gradient($colour-primary,$colour-secondary);
$breakpoints: (desktop: 768px);
